.workspaces {
  .workspace {
    padding: 4px;
    border-radius: 4px;

    .column {
      min-width: 16px;
      min-height: 16px;
      border-radius: 2px;
      margin: 2px;
    }
  }

  .workspace.empty {
    padding: 9px 9px;
    min-height: 10px;
    min-width: 10px;
  }

  .workspace.active {
    border: 2px dotted $base03;
  }

  widget:nth-child(1) .workspace {
    .column {
      background-color: $red;
    }
  }

  widget:nth-child(2) .workspace {
    .column {
      background-color: $accent;
    }
  }

  widget:nth-child(3) .workspace {
    .column {
      background-color: $green;
    }
  }

  widget:nth-child(4) .workspace {
    .column {
      background-color: $blue;
    }
  }

  widget:nth-child(5) .workspace {
    .column {
      background-color: $magenta;
    }
  }

  widget:nth-child(6) .workspace {
    .column {
      background-color: $pink;
    }
  }

  widget:nth-child(7) .workspace {
    .column {
      background-color: $base06;
    }
  }

  widget .workspace {
    .column {
      background-color: $base01;
    }
  }

  widget .workspace .column.focused {
    background-color: $mainFG;
  }
}
