#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: false,
    format_tag_separator: " | ",
    browser_column_widths: [20, 38, 42],
    background_color: None,
    text_color: None,
    header_background_color: None,
    modal_background_color: None,
    modal_backdrop: false,
    preview_label_style: (fg: "yellow"),
    preview_metadata_group_style: (fg: "yellow", modifiers: "Bold"),
    tab_bar: (
        enabled: true,
        active_style: (fg: "black", bg: "blue", modifiers: "Bold"),
        inactive_style: (),
    ),
    highlighted_item_style: (fg: "yellow"),
    current_item_style: (fg: "yellow", modifiers: "Bold | Italic"),
    borders_style: (fg: "blue"),
    highlight_border_style: (fg: "blue"),
    symbols: (
        song: "-",
        dir: "+",
        playlist: "[P]",
        marker: "* ",
        ellipsis: "...",
        song_style: None,
        dir_style: None,
        playlist_style: None,
    ),
    level_styles: (
        info: (fg: "blue", bg: "black"),
        warn: (fg: "yellow", bg: "black"),
        error: (fg: "red", bg: "black"),
        debug: (fg: "light_green", bg: "black"),
        trace: (fg: "magenta", bg: "black"),
    ),
    progress_bar: (
        symbols: ["-", "-", "x", " ", " "],
    ),
    scrollbar: (
        symbols: ["│", "░", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "blue"),
    ),
    song_table_format: [
        (
            prop: (
                kind: Group([
                    (kind: Property(Artist)),
                    (kind: Text(" - ")),
                    (kind: Property(Title)),
                ]),
                default: (kind: Property(Filename))
            ),
            width: "90%",
        ),
        (
            prop: (kind: Property(Duration)),
            width: "10%",
        ),
    ],
    components: {},
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(TabContent),
				borders: "NONE",
                size: "100%",
            ),
            (
                pane: Pane(ProgressBar),
				borders: "NONE",
                size: "1",
            ),
            (
                size: "1",
				borders: "NONE",
                pane: Pane(Header),
            ),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "yellow")),
                    (kind: Property(Status(Elapsed)), style: (fg: "yellow")),
                    (kind: Text("/"), style: (fg: "yellow")),
                    (kind: Property(Status(Duration)), style: (fg: "yellow")),
                    (kind: Text("]"), style: (fg: "yellow"))
                ],
                center: [
                    (kind: Text(" "), style: (fg: "magenta", modifiers: "Reversed")),
                    (kind: Property(Status(ActiveTab)), style: (fg: "magenta", modifiers: "Reversed")),
                    (kind: Text(" "), style: (fg: "magenta", modifiers: "Reversed"))
                ],
                right: [
                    (kind: Text("["), style: (fg: "blue")),
                    (kind: Property(Status(RepeatV2(
                        on_label: "rep ",
                        off_label: "rep ",
                        on_style: (fg: "yellow", modifiers: "Bold"),
                        off_style: (fg: "blue", modifiers: "Dim"),
                    )))),
                    (kind: Property(Status(RandomV2(
                        on_label: "rnd ",
                        off_label: "rnd ",
                        on_style: (fg: "yellow", modifiers: "Bold"),
                        off_style: (fg: "blue", modifiers: "Dim"),
                    )))),
                    (kind: Property(Status(ConsumeV2(
                        on_label: "eat ",
                        off_label: "eat ",
                        oneshot_label: "eat(1) ",
                        on_style: (fg: "yellow", modifiers: "Bold"),
                        off_style: (fg: "blue", modifiers: "Dim"),
                        oneshot_style: (fg: "red", modifiers: "Dim"),
                    )))),
                    (kind: Property(Status(SingleV2(
                        on_label: "one",
                        off_label: "one",
                        oneshot_label: "one(1)",
                        on_style: (fg: "yellow", modifiers: "Bold"),
                        off_style: (fg: "blue", modifiers: "Dim"),
                        oneshot_style: (fg: "red", modifiers: "Bold"),
                    )))),
                    (kind: Text("]"), style: (fg: "blue")),
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
    lyrics: (
        timestamp: false
    )
)
