@define-color color #ebe0bb;
@define-color background-color #242015;
@define-color background-color-alt #3a3124;
@define-color accent #db930d;
@define-color urgent #a82d56;
@define-color muted #856a5d;

@define-color color #64513e;
@define-color background-color #f1e3d1;
@define-color background-color-alt #ddcebc;
@define-color accent #bf7979;
@define-color urgent #993333;
@define-color muted #c9b9a7;

*{
    all: unset;
    font-family: "IBM Plex Sans";
    font-size: 13px;
}

.module {
	color: @color;
	padding: 8px;
    border-right: 3px solid @muted;
    background-color: @background-color;
}

.modules-right {
    border-top: 3px solid @muted;
}

.modules-left {
    border-bottom: 3px solid @muted;
}

tooltip {
	background: @background-color-alt;
	border: 1px solid @accent;
	color: @color;
}

#workspaces button {
    padding: 2px 0px;
}

#workspaces button {
    color: @color;
}

#workspaces button.empty {
    color: @muted;
}

#workspaces button.focused {
    color: @accent;
}

