spawn-sh-at-startup "swww-daemon"
spawn-sh-at-startup "dunst"
spawn-sh-at-startup "foot --server"
// spawn-sh-at-startup "wlsunset -l 31.4 -L 74.3"
spawn-at-startup "start-waybar.sh"
spawn-sh-at-startup "wl-paste --watch cliphist store"

input {
    keyboard {
		repeat-delay 300
		repeat-rate 50
    }

    touchpad {
        tap
        dwt
        natural-scroll
        accel-speed 0.4
        accel-profile "adaptive"
		scroll-factor 0.8
    }

	mouse {
        accel-speed 0.1
		accel-profile "flat"
	}

    focus-follows-mouse max-scroll-amount="40%"
}

hotkey-overlay {
    skip-at-startup
}

cursor {
    xcursor-theme "phinger-cursors-light-left"
	xcursor-size 32
}

// Thinkpad
output "BOE 0x0791 Unknown" {
	// off
    scale 1.4
}

// MacBook
output "Apple Computer Inc Color LCD Unknown" {
	// off
    scale 2
}

// Personal ultrawide
output "Dell Inc. - DELL U3415W - DP-2" {}

layout {
    gaps 4
    center-focused-column "on-overflow"
	always-center-single-column
	default-column-display "normal"
	background-color "transparent"

	tab-indicator {
		hide-when-single-tab
        place-within-column
        gap 6
        width 10
        length total-proportion=0.3
        position "bottom"
        gaps-between-tabs 6
		active-color "#db930d"
		inactive-color "#d2c3a4"
    }

	shadow {
		on
		spread 5
	}

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
	}

    // Set to 0.5 on ultrawide
    default-column-width { proportion 0.66667; }

    focus-ring {
		off
    }
}

// Background & Overview
layer-rule {
    match namespace="swww"
    place-within-backdrop true
}

layer-rule {
    match namespace="waybar"
	shadow {
		on
		spread 1
		softness 8
		offset x=-4
	}
}

overview {
    workspace-shadow {
        off
    }
}

layer-rule {
    match namespace="^launcher$"
	shadow {
		on
		spread -5
	}
    geometry-corner-radius 10
}
// ---

window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
}

prefer-no-csd

screenshot-path "~/Screenshots/%Y-%m-%d_%H-%M-%S.png"

animations {
    slowdown 0.75
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
	match app-id="foot"

    // Set to 0.33333 on ultrawide
    default-column-width { proportion 0.5; }
}

window-rule {
    match app-id="Spotify"
    default-column-width { proportion 0.5; }
}

window-rule {
    match app-id="vesktop"
    match app-id="Spotify"

    open-focused false
}

window-rule {
	match title="Syncthing"

    default-column-width { proportion 0.25; }
    default-window-height { proportion 0.25; }
	open-focused false
}

window-rule {
  match title=r#"^(Open File)(.*)$"#
  match title=r#"^(Select a File)(.*)$"#
  match title=r#"^(Choose wallpaper)(.*)$"#
  match title=r#"^(Open Folder)(.*)$"#
  match title=r#"^(Save As)(.*)$"#
  match title=r#"^(Library)(.*)$"#
  match app-id="imv"
  match title="Picture-in-Picture"

  open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match title=r#"[gG]mail"#
    match title=r#".*[Ww]hats[aA]pp.*$"#
    // TODO: block notifications
	// Visible on deliberate screenshot:
    // block-out-from "screencast"

    block-out-from "screen-capture"
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
	shadow {
		off
	}
    default-floating-position x=10 y=10 relative-to="bottom-left"
}

binds {
	// Apps
    Mod+Return { spawn-sh "footclient"; }
    Mod+D      { spawn-sh "fuzzel"; }
    Mod+E      { spawn-sh "fuzzel-emoji"; }
    Mod+W      { spawn-sh "nautilus"; }
    Mod+B      { spawn-sh "librewolf"; }
    Mod+V      { spawn-sh "code"; }
    Mod+Z      { spawn-sh "cliphist list | fuzzel --dmenu | cliphist decode | wl-copy"; }
    Mod+Q repeat=false { close-window; }

	// Media & Other
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "amixer sset Master 2%+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "amixer sset Master 2%-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "amixer sset Master toggle"; }

	XF86KbdBrightnessUp   { spawn-sh "bash -c brightnessctl --device=smc::kbd_backlight set 5%+"; }
	XF86KbdBrightnessDown { spawn-sh "bash -c brightnessctl --device=smc::kbd_backlight set 5%-"; }

	XF86MonBrightnessUp   { spawn-sh "brightnessctl set 5%+"; }
	XF86MonBrightnessDown { spawn-sh "brightnessctl set 5%-"; }

	XF86AudioMedia { spawn-sh "playerctl play-pause"; }
	XF86AudioPlay  { spawn-sh "playerctl play-pause"; }
	XF86AudioPrev  { spawn-sh "playerctl previous"; }
	XF86AudioNext  { spawn-sh "playerctl next"; }

	// Floating
	Mod+Space       { toggle-window-floating; }
	Mod+Shift+Space   { switch-focus-between-floating-and-tiling; }

	// Focusing
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }

	// Movement
    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down-or-to-workspace-down; }
    Mod+Shift+Up    { move-window-up-or-to-workspace-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+L     { move-column-right; }
	
	// Monitor focusing
    Mod+Ctrl+H     { focus-monitor-left; }
    Mod+Ctrl+J     { focus-monitor-down; }
    Mod+Ctrl+K     { focus-monitor-up; }
    Mod+Ctrl+L     { focus-monitor-right; }

	// Monitor column movement
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

	// Monitor workspace movement
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    Mod+Shift+Ctrl+Right { move-workspace-to-monitor-right; }
    Mod+Shift+Ctrl+Up    { move-workspace-to-monitor-up; }
    Mod+Shift+Ctrl+Down  { move-workspace-to-monitor-down; }

	// Workspace movement
	Mod+O repeat=false { toggle-overview; }
    Mod+Ctrl+U { move-column-to-workspace-down; }
    Mod+Ctrl+I { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    // Workspace movement
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Ctrl+1 { move-window-to-workspace 1; }
    Mod+Ctrl+2 { move-window-to-workspace 2; }
    Mod+Ctrl+3 { move-window-to-workspace 3; }
    Mod+Ctrl+4 { move-window-to-workspace 4; }
    Mod+Ctrl+5 { move-window-to-workspace 5; }
    Mod+Ctrl+6 { move-window-to-workspace 6; }
    Mod+Ctrl+7 { move-window-to-workspace 7; }
    Mod+Ctrl+8 { move-window-to-workspace 8; }
    Mod+Ctrl+9 { move-window-to-workspace 9; }
    Mod+Tab { focus-workspace-previous; }

	// Column Adjustment
	Mod+T { toggle-column-tabbed-display; }
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+C       { center-column; }
    Mod+Shift+C { center-visible-columns; }

	// Fullscreen
    Mod+Shift+F      { fullscreen-window; }
	Mod+Ctrl+Shift+F { toggle-windowed-fullscreen; }

	// Resizing
    Mod+F { maximize-column; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+R       { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R  { reset-window-height; }

	// Screenshot
    Mod+P { screenshot show-pointer=false; }
    Mod+Shift+P { screenshot-screen show-pointer=false; }
    Mod+Ctrl+P { screenshot-window; }

	// Other
    Mod+Shift+Q { quit; }
    Mod+Shift+Slash { show-hotkey-overlay; }

	// Unused
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }
    // Similarly, you can bind touchpad scroll "ticks".
    // Touchpad scrolling is continuous, so for these binds it is split into
    // discrete intervals.
    // These binds are also affected by touchpad's natural-scroll, so these
    // example binds are "inverted", since we have natural-scroll enabled for
    // touchpads by default.
    // Mod+TouchpadScrollDown { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    // Mod+TouchpadScrollUp   { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }
}
