.workspacesWidget {
    margin: 2px 0px;
    .workspacesBox {
        margin: 1px;
        min-height: 8px;
        min-width: 8px;
    }

    .urgent {
        background-color: $red;
    }

    .focused {
        background-color: $accent;
    }

    .occupied {
        background-color: $accent;
    }

    .active {
        background-color: $base03;
    }

    .default {
        background-color: $base01;
    }
}
